@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5 !important;
  overflow-x: hidden;
  overflow-y: scroll;
  text-base {
    font-size: .8rem;
  }
  text-sm {
    font-size: .7rem;
  }
  text-lg {
    font-size: 1rem;
  }

}



header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* только если есть другие элементы с более высоким z-index */
}

.headerMob {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* только если есть другие элементы с более высоким z-index */
}
